.article-content {
    padding-top: 35px;
    .h3 {
        font-size: 1rem;
        color: grey;
    }
}

.footer {
    font-size: 12px;
}

.subscribe {
    position: absolute;
    margin: 20px;
    right: 0px;
}