.article {
    .article-header {
        height: 30vh;
        text-align: center;
        width: 100%;
        overflow: hidden;
        background-size: cover;
        background: #222 no-repeat center center;
        background-size: 100%;
    }
}