.article {
    .article-header {
        height: 30vh;
        text-align: center;
        width: 100%;
        overflow: hidden;
        background-size: cover;
        background: #222 no-repeat center center;
        background-size: 100%;

        .btn-outline-secondary {
            color: rgba(255, 255, 255, 0.93);
            border-color: rgba(255, 255, 255, 0.93);
        }
    }

    .article-body {
        padding-top: 30px;
    }

    .back {
        float: left;
        margin: 20px;
    }
}