#displayphoto {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 80%;
}
#titlename {
    text-align: center;
}
.btn {
    width: 100%;
    background-color: whitesmoke;
    color: black;
    border-color: black;
    margin: 4px;
}
.page {
    h1 {
        text-align: center;
    }
    .header-image {
        height: 250px;
        vertical-align: bottom;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}
.left-bar {
    padding-top: 10px;
    height: 100%;
}
.container-full {
    margin: 0 0;
    width: 100%;
    height: 100%;
    bottom: 0px;
}
#community {
    display: none;
    visibility: hidden;

    transition: visibility 0s, opacity 0.5s linear;
}