#titlename {
    text-align: center;
}
.page {
    h1 {
        text-align: center;
    }
    text-align: center;
    .header-image {
        height: 250px;
        vertical-align: top;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}
.left-bar {
    padding-top: 10px;
    text-align: center;
    width: 100%;
    .btn {
        display: inline-block;
        background-color: whitesmoke;
        color: black;
        border-color: black;
        margin: 4px;
    }
}
#community {
    display: none;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
}