---
import { GLOBAL } from '../../lib/variables';
---

<div class="flex flex-col items-left sm:flex-col gap-8">
  <p class="text-xl sm:text-2xl font-mono font-medium sm:text-left">
    <p set:html={GLOBAL.longDescription} />
  </p>
  <p><a class="hover:underline" href="mailto:josh@jjt.dev">josh@jjt.dev</a></p>
  <h2
    class="text-xl sm:text-2xl font-mono font-medium sm:text-left"
    class="text-3xl sm:text-4xl font-display font-semibold opsz text-center sm:text-left"
  >
    Current Top Technologies
  </h2>
  <ul>
    <li>Cloud: Pretty much all of it</li>
    <li>AI: Agents, RAG, Vector Search, LLMs, Image + Video Generation, Prompt Engineering, MCP, A2A</li>
    <li>Computer Vision</li>
    <li>Python</li>
    <li>Node</li>
    <li>React</li>
    <li>CDK</li>
    <li>Typescript</li>
  </ul>
</div>
