.achievementsWrapper {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding-top: 140px;
}

.carousel {
  margin-top: 40px;
}

.carousel * {
  background: transparent !important;
}
.carousel button {
  height: 10%;
  margin-top: auto !important;
}

.achItem {
  /* background: linear-gradient(to bottom, #dd3e54, #6be585); */
  height: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 500px;
  /* border-bottom: 3px white solid; */
}

.left {
  width: 50%;
  text-align: left;
  /* padding: 1rem; */
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  margin-top: 5rem;
}

.left p {
  line-height: 1.8em;
}

.right {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  /* margin-right: 2rem; */
  position: relative;
  overflow: hidden;
}
.right a {
  position: absolute;
  width: 180%;
  margin: auto;
  transform: translateX(-30%);
}

.thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.thumbnail p {
  font-size: 1.5rem;
  color: white;
}

@media only screen and (max-width: 600px) {
  .achievementsWrapper {
    padding-top: 48px;
  }
  .achItem {
    flex-flow: column-reverse;
    min-height: 100px;
    height: auto;
  }
  .left,
  .right {
    width: 100%;
  }

  .right {
    height: 200px;
  }

  .left {
    margin-top: 1rem;
  }
  .carousel button {
    height: 450px;
    margin-bottom: auto !important;
    margin-top: 0 !important;
  }
}
