.contactWrapper {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding-top: 140px;
  margin-bottom: 160px;
}

.contactWrapper a {
  margin-bottom: 10px;
  width: fit-content;
}
.contactWrapper h3 {
  margin-top: 36px;
  width: fit-content;
}

.contactWrapper a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(0, 27, 77);
  transition: width 0.1s;
}

.contactWrapper a:hover::after {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .contactWrapper {
    padding-top: 48px;
    margin-bottom: 60px;
  }
}
