.introWrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.intro {
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: space-between;
  color: rgb(0, 27, 77);
  padding-top: 140px;
  margin-top: auto;
  margin-bottom: auto;
}

.left {
  flex: 1;
  max-width: 600px;
  min-width: 300px;
  padding-top: 40px;
  display: flex;
  flex-flow: column;
  min-height: 600px;
}

.left h1 {
  margin-bottom: 16px;
}

.left h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

.left a {
  text-decoration: underline;
}

.right {
  margin-top: 40px;
  width: 250px;
}

.displayPhoto {
  border-radius: 100%;
  overflow: hidden;
}

.icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.icons a {
  width: 34px;
  color: rgb(0, 27, 77);
}

@media only screen and (max-width: 600px) {
  .right {
    display: none;
  }

  .intro {
    padding-top: 48px;
  }

  .left h3 {
    font-size: 1.2rem;
    font-weight: 300;
  }
}

@media only screen and (max-height: 700px) {
  .left h1 {
    font-size: 2.5rem;
  }
  .left h3 {
    font-size: 1.2rem;
  }

  .left {
    padding-top: 10px;
  }

  .intro {
    padding-top: 100px;
  }
}
