.layout {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
}

.layoutBackgroundBlue {
  background: linear-gradient(360deg, #2980b9, #6dd5fa, #ffffff);
  background-attachment: fixed;
  transition-delay: 1s;
  transition: all 2s ease-in-out;
  position: fixed;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  z-index: -1;
}

.layoutBackgroundRed {
  background: linear-gradient(360deg, #dd3e54, #6be585);
  background-attachment: fixed;
  transition-delay: 1s;
  transition: all 2s ease-in-out;
  position: fixed;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  z-index: -1;
}

.layoutBackgroundGreen {
  background: linear-gradient(360deg, #00f260, #0575e6);
  background-attachment: fixed;
  transition-delay: 1s;
  transition: all 2s ease-in-out;
  position: fixed;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  z-index: -1;
}

.layoutBackgroundPurple {
  background: linear-gradient(to top,  #8a2387, #e94057, #f27121); 
  background-attachment: fixed;
  transition-delay: 1s;
  transition: all 2s ease-in-out;
  position: fixed;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  z-index: -1;
}

.layoutHidden {
  opacity: 0;
  /* transform: rotate(180deg); */
}
